[makeitworkcloud]
aws_access_key_id = {{ index (fromYaml (include "encrypted_secrets.yaml.age" | decrypt)) "aws_makeitworkcloud_access_key_id" }}
aws_secret_access_key = {{ index (fromYaml (include "encrypted_secrets.yaml.age" | decrypt)) "aws_makeitworkcloud_secret_access_key" }}
