{{- $ageKeyFile := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $ageKeyFile = joinPath .chezmoi.homeDir "Library/Application Support/sops/age/keys.txt" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $ageKeyFile = joinPath .chezmoi.homeDir ".config/sops/age/keys.txt" -}}
{{- else -}}
{{-   fail (printf "unsupported operating system: %s" .chezmoi.os) -}}
{{- end -}}

encryption = "age"
[age]
    identity = {{ $ageKeyFile | quote }}
    recipient = "age152ek83tm4fj5u70r3fecytn4kg7c5xca24erjchxexx4pfqg6das7q763l"
