[".config/opencode"]
    type = "git-repo"
    url = "git@github.com:xnoto/opencode-config.git"
    pull.args = ["--ff-only", "--autostash"]

[".config/opencode-llama"]
    type = "git-repo"
    url = "git@github.com:xnoto/opencode-llama-config.git"
    pull.args = ["--ff-only", "--autostash"]

[".codex"]
    type = "git-repo"
    url = "git@github.com:xnoto/codex-config.git"
    pull.args = ["--ff-only", "--autostash"]

[".config/alacritty/alacritty-theme-linux-vconsole"]
    type = "git-repo"
    url = "git@github.com:xnoto/alacritty-theme-linux-vconsole.git"

[".config/alacritty/themes"]
    type = "git-repo"
    url = "https://github.com/alacritty/alacritty-theme"

[".claude/settings.json"]
    type = "file"
    url = "https://raw.githubusercontent.com/xnoto/claude-config/main/settings.json"

[".claude/settings.local.json"]
    type = "file"
    url = "https://raw.githubusercontent.com/xnoto/claude-config/main/settings.local.json"

{{- if eq .chezmoi.os "linux" }}

# tpm (Tmux Plugin Manager) — on macOS this is provided by Homebrew (`brew install tpm`).
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    pull.args = ["--ff-only", "--autostash"]
{{- end }}
