[cursor]
style = { shape = "Block", blinking = "Always" }

{{- if eq .chezmoi.os "darwin" }}
{{- else }}
[colors]
draw_bold_text_with_bright_colors = true
{{- end }}

[font]
{{- if eq .chezmoi.os "darwin" }}
size = 16.0
{{- else }}
size = 12.0
{{- end }}

[font.normal]
{{- if eq .chezmoi.os "darwin" }}
family = "Fixedsys Excelsior"
{{- else }}
family = "Px437 IBM VGA 8x16"
style = "Regular"

[font.bold]
family = "Px437 IBM VGA 8x16"
style = "Regular"
{{- end }}

[general]
import = [
{{- if eq .chezmoi.os "darwin" }}
    "~/.config/alacritty/themes/themes/nord.toml"
{{- else }}
    "~/.config/alacritty/alacritty-theme-linux-vconsole/linux-vconsole.toml"
{{ end }}
]

[env]
TERM = "xterm-256color"
